<div class="container">
  {{!-- <h1 class="jumbotron-heading text-center">NodeJS Canteen</h1> --}}
  <div class="container">
    <div class="display-4 text-center pt-3 pb-5">Dashboard</div>
    <div class="card mb-3">
      <div class="card-header display-4"><strong>Add Dish</strong> </div>
      <div class="card-body">
        <form action="create-order" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label><strong> Dish </strong> </label>
            <input type="text" class="form-control" name="title">
          </div>
          <div class="form-group">
            <label>Description:</label>
            <input type="text" class="form-control" name="description">
          </div>
          <div class="form-group">
            <label><strong>Image</strong></label>
            <input type="file" class="form-control" name="Image" accept="image/*">
            <p class="alert alert-primary"><strong>upload image</strong> </p>
          </div>
          <div class="btn-group float-right">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{#each orders}}
  <div class="card mb-6">
    <div class="card-header"><strong>{{this.title}}</strong></div>
    <p>{{this.description}}</p>
    <div class="card-body ">
      <img src={{ this.image }} width=" 300" height="300">
      {{!-- <img class="card-img-top" src="/home/venkatesh/Desktop/canteen/uploads" alt="Card image"> --}}
      {{!-- <a href="#" class="btn btn-primary">See Profile</a> --}}
    </div>
    {{!-- <div class="btn-group float-left">
      <a href="update-order?id={{this._id}}&status=available" class="btn btn-warning">{{this.available}}</a>
      <a href="update-order?id={{this._id}}&status=served" class="btn btn-primary">{{this.served}}</a>
      <a href="update-order?id={{this._id}}&status=total" class="btn btn-success">{{this.total}}</a>
    </div> --}}
    <div class="container">
      <div class="row">
        <div class="col-8">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Available</td>
                <td>
                  <a href="update-order?id={{this._id}}&status=available" class="btn btn-warning">{{this.available}}</a>
                  {{!-- <button type="button" class="btn btn-warning"> {{this.available}} </button> --}}
                </td>
              </tr>
              <tr>
                <td>Served</td>

                <td>
                  <a href="update-order?id={{this._id}}&status=served" class="btn btn-primary">{{this.served}}</a>
                  {{!-- <button type="button" class="btn btn-primary"> {{this.served}} </button> --}}
                </td>
              </tr>
              <tr>
                <td>Total</td>
                <td>
                  <a href="update-order?id={{this._id}}&status=total" class="btn btn-success">{{this.total}}</a>
                  {{!-- <button type="button" class="btn btn-success"> {{this.total}} </button> --}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a href="delete-order?id={{this._id}}" class="btn btn-danger float-right">Delete</a>
    </div>
  </div>
  {{/each}}
</div>