<div class="container">
  {{!-- <h1 class="jumbotron-heading text-center">NodeJS Canteen</h1> --}}
  <div class="container bg-importtant">
    <div class="display-4 text-center text-dark pt-3 pb-5">Dashboard</div>
    <div class="card mb-3">
      <div class="card-header display-4"><strong>Add Dish</strong> </div>
      <div class="card-body">
        <form action="create-order" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label><strong> Dish Name </strong> </label>
            <input type="text" class="form-control" name="title">
          </div>
          <div class="form-group">
            <label><strong>Description</strong></label>
            <input type="text" class="form-control" name="description">
          </div>
          <div class="form-group">
            <label><strong>Image</strong></label>
            <input type="file" class="form-control" name="Image" accept="image/*">
            <p class="alert alert-primary"><strong>upload image</strong> </p>
          </div>
          <div class="btn-group float-right">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{#each orders}}
  <div class="card mb-6 text-center text-white bg-dark mb-3 float-center">
    <div class="card-header ">
      <h1><strong>{{this.title}}</strong></h1>
    </div>
    <p><strong>{{this.description}}</strong></p>
    <div class="card-body text-white bg-white">
      <img src={{ this.image }} width=" 300" height="300">
    </div>
    <div class="container bg-white text-center py-4 justify-content-center">
        <div class=" row ">
          <div class=" col-8 text-white">
      <div class="table-responsive">
        <table class="table table-hover table-condensed text-center " style="display:table">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Available</td>
              <td>
                <a href="update-order?id={{this._id}}&status=available" class="btn btn-warning">{{this.available}}</a>
                {{!-- <button type="button" class="btn btn-warning"> {{this.available}} </button> --}}
              </td>
            </tr>
            <tr>
              <td>Served</td>

              <td>
                <a href="update-order?id={{this._id}}&status=served" class="btn btn-primary">{{this.served}}</a>
                {{!-- <button type="button" class="btn btn-primary"> {{this.served}} </button> --}}
              </td>
            </tr>
            <tr>
              <td>Total</td>
              <td>
                <a href="update-order?id={{this._id}}&status=total" class="btn btn-success">{{this.total}}</a>
                {{!-- <button type="button" class="btn btn-success"> {{this.total}} </button> --}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="card-footer bg-dark">
  <a href="delete-order?id={{this._id}}" class="btn btn-danger float-right">Delete</a>
</div>
</div>
{{/each}}
</div>